<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="editor">
    <div class="modal fade" id="editormodal">
        <div class="modal-dialog" id="editormodaldialog">
            <div class="modal-content" id="editormodalcontent">
                <div class="modal-header">
                    <h3><strong>写文章</strong></h3>
                </div>
                <div class="modal-body">
                    <form id="form" method="post">
                        <div class="form-group">
                            <label>标题</label>
                            <input class="form-control" type="text" name="title" placeholder="标题">
                        </div>
                        <label>tag</label>
                        <input class="form-control" type="text" name="tag" placeholder="tag">
                        <div id="articleEditor">
                            <!--编辑器-->
                        </div>
                        <div class="modal-footer">
                            <button id="submitBtn" type="button" class="btn btn-primary">发布文章</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{../js/wangEditor.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/editor.js}"></script>
        <link rel="stylesheet" th:href="@{../css/editor.css}">
    </div>

</div>
</body>
</html>